body {
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 270px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;/*Выезжает плавно меню*/
    z-index: 1;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check {
    display: none;
    
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
    position: fixed;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;/*плавное скрытие кнопки*/
}

label #cancel{
    z-index: 1111;
    left: -230px;/*убираем с 195 на -195*/
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s;/*плавное скрытие кнопки*/
}

#check:checked ~ .sidebar{
    left: 0;/*ПРИ НАЖАТИИ ВЫЕЗЖАЕТ МЕНЮ*/
}

#check:checked ~ label #btn{
    left: 250px;/*ПРИ НАЖАТИИ ВЫЕЗЖАЕТ С МЕНЮ*/
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 230px;/*ПРИ НАЖАТИИ исчез крестик*/
}

#check:checked ~ section{
    margin-left: 250px;/*ПРИ НАЖАТИИ картинка сдвигается*/
}







section {
    background: url(bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;/*НЕ ПОЯВИТСЯ КАРТИНКА ПОКА НЕ ОБЬЯВИШ ВЫСОТУ*/
    transition: all .5s;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 0;
}






/* 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0d192e;
} */
.container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 20px;
    height: 600px;
    background: #122647;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .formBx {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .formBx form {
    position: relative;
    width: 100%;
    padding: 0 0 0 75px;
}

.container .formBx form h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.container .formBx form .inputBox {
    position: relative;
    margin-bottom: 40px;
}

.container .formBx form .inputBox:last-child {
    margin-bottom: 0px;
}

.container .formBx form .inputBox input,
.container .formBx form .inputBox textarea {
    position: relative;
    background: transparent;/*прозрачный*/
    outline: none;/*контура нет*/
    border: none;
    width: 100%;
    color: #fff;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    resize: none;/*изменить размер: нет;*/
}

.container .formBx form .inputBox textarea {
    height: 100px;
}

.container .formBx form .inputBox input[type="submit"]{
    background: #fff;
    padding: 8px 20px;
    margin-top: -10px;
    width: 140px;
    cursor: pointer;
    background: #ff5064;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.container .formBx form .inputBox input[type="submit"]:focus {
    background: #1bfaad;
    color: #111;
}
.container .formBx form .inputBox span {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    pointer-events: none;/*указатель событий*/
    letter-spacing: 1px;
    color: rgba(255,255,255,0.5);
    transition: all 0.2s;
}
.container .formBx form .inputBox input:focus ~ span,
.container .formBx form .inputBox textarea:focus ~ span,
.container .formBx form .inputBox input:valid ~ span,
.container .formBx form .inputBox textarea:valid ~ span {
    transform: translateY(-24px);
    color: #1bfaad;
    font-size: 14px;
}

.container .formBx form .inputBox input:focus,
.container .formBx form .inputBox textarea:focus,
.container .formBx form .inputBox input:valid,
.container .formBx form .inputBox textarea:valid {
    border-bottom-color: #fff;
}

.container .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden; /* Скрить за пределами блока*/
}

.container .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff5064;
    transform-origin: bottom;
    transform: skewX( -25deg);
}

.container .imgBx img {
    position: absolute;
    bottom: 0;
    max-height: 95%;
}




@media (max-width: 991px){
    .container .formBx{
        width: 100%;
        padding: 0 50px;
    }

    .container .formBx form {
        position: relative;
        width: 100%;
        max-width: 500px;
        padding: 0;
    }

    .container .imgBx {
        display: none;
    }
}




   